@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"), url(http://themes.googleusercontent.com/static/fonts/opensans/v7/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff) format("woff");
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(http://themes.googleusercontent.com/static/fonts/opensans/v7/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format("woff");
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url(http://themes.googleusercontent.com/static/fonts/opensans/v7/MTP_ySUJH_bn48VBG8sNSnhCUOGz7vYGh680lGh-uXM.woff) format("woff");
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}



.progress-container, .progress {
  /*border-radius: 5px;*/
}

.progress-container {
  width: 19px;
  height: 48px;
  /*border: solid 1px #111;
  background: #151515;*/
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05);
  /* margin: 0 auto; */
  top: 61.1%;
  left: 85.9%;
  position: relative;
  overflow: hidden;
}


.progress, .progress-overlay {
  position: absolute;
}

.progress {
    font-size:xx-small;
  width: 20px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.35);
  z-index: 1;
  bottom: 0;
  text-align: center;
  color: #151515;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
  font-weight: bold;
  transition: background 250ms ease;
}


.progress-overlay {
  z-index: 2;
  width: 0;
  height: 100%;
  bottom: 0;
  left: 15px;
  border: solid 20px transparent;
  border-width: 0 25px 20px 25px;
  border-bottom-color: rgba(255, 255, 255, 0.25);
  -webkit-animation: uploadarrow 900ms infinite ease-out;
  -moz-animation: uploadarrow 900ms infinite linear;
  -o-animation: uploadarrow 900ms infinite linear;
  animation: uploadarrow 900ms infinite linear;
}
@-webkit-keyframes neon5 {
  from {
    text-shadow: 0 0 10px #fff,
               0 0 20px  #fff,
               0 0 30px  #fff,
               0 0 40px  #FF9900,
               0 0 70px  #FF9900,
               0 0 80px  #FF9900,
               0 0 100px #FF9900,
               0 0 150px #FF9900;
  }
  to {
    text-shadow: 0 0 5px #fff,
               0 0 10px #fff,
               0 0 15px #fff,
               0 0 20px #FF9900,
               0 0 35px #FF9900,
               0 0 40px #FF9900,
               0 0 50px #FF9900,
               0 0 75px #FF9900;
  }
}
@-moz-keyframes neon5 {
  from {
    text-shadow: 0 0 10px #fff,
               0 0 20px  #fff,
               0 0 30px  #fff,
               0 0 40px  #FF9900,
               0 0 70px  #FF9900,
               0 0 80px  #FF9900,
               0 0 100px #FF9900,
               0 0 150px #FF9900;
  }
  to {
    text-shadow: 0 0 5px #fff,
               0 0 10px #fff,
               0 0 15px #fff,
               0 0 20px #FF9900,
               0 0 35px #FF9900,
               0 0 40px #FF9900,
               0 0 50px #FF9900,
               0 0 75px #FF9900;
  }
}
@keyframes neon5 {
  from {
    text-shadow: 0 0 10px #fff,
               0 0 20px  #fff,
               0 0 30px  #fff,
               0 0 40px  #FF9900,
               0 0 70px  #FF9900,
               0 0 80px  #FF9900,
               0 0 100px #FF9900,
               0 0 150px #FF9900;
  }
  to {
    text-shadow: 0 0 5px #fff,
               0 0 10px #fff,
               0 0 15px #fff,
               0 0 20px #FF9900,
               0 0 35px #FF9900,
               0 0 40px #FF9900,
               0 0 50px #FF9900,
               0 0 75px #FF9900;
  }
}

.combo{
  position:absolute;
  top:50%;
  font-size:30px; 
  color:#FF9900;
  font-style: italic;
  font-family:fantasy;
}
.combo-hover{
  -webkit-animation: neon5 1s ease-in-out infinite alternate;
  -moz-animation: neon5 1s ease-in-out infinite alternate;
  animation: neon5 1s ease-in-out infinite alternate; 
}
.score{
  position:absolute;
  top:58%;
  font-size:25px; 
  color:#FF9900;
  font-style: italic;
  font-family:fantasy;
}